<div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="#">CMS</a>
    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
    </nav>
</div>
<div class="col-md-2">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">文章</div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">所有文章</li>
            <li class="list-group-item"><a href="#">写文章</a></li>
            <li class="list-group-item">文章目录</li>
            <li class="list-group-item">标签</li>
        </ul>

        <div class="panel-heading">分类</div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">全部分类</li>
            <li class="list-group-item">添加分类</li>
        </ul>
    </div>
</div>
